{% extends 'layout.html' %}
{% block title %} Create task{% endblock %}
{% block body %}
<form method="post" action="">
    {% csrf_token %}
    <section>
        <div class="signin"> 
            <div class="content">        
                <h2>Create task</h2>
                <div class="form">
                    <div class="inputBox">
                        <input type="text" required name="title"> <i>Title</i>
                    </div>
                    <div class="inputBox">
                        <textarea name="description" rows="5" cols="10"></textarea>
                        <i>Description</i>
                    </div>
                    <div class="inputBox">
                        <input type="submit" value="Create">
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
{% endblock %}